<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/stylechat.css">
    <title>Chat</title>
</head>
<body>
    <div id='chat-container'>
        <div id='search-container'>
            <input type='text' placeholder='Search'/>
        </div>
        <div id='conversation-list'>
            <div class='conversation'>
                <img src='/static/img/cat.jpg' alt='cat'/>
                <div class='title-text'>Contacto 1</div>
                <div class='created-date'>Abril 16</div>
                <div class='conversation-message'>Mensajeasfsafsafsafasfasfasfsadsds</div>
            </div>
        </div>
        <div id='new-message-container'>
            <a href='#'>+</a>
        </div>
        <div id='chat-title'>
            <img src='/static/img/cat.jpg' alt='cat'/>
            <span>Adrian Boza</span>
        </div>
        <div id='chat-message-list'>
            
        </div>
        <div id='chat-form'>
            <input type='text' placeholder='Type a message'/>
        </div>
    </div>
</body>
</html>